.main-welcome-section{
  margin-bottom: 20px;
}

.main-content-section{
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 20px;
}

    .main-content-info{
      width: 20%;
    }
        .main-content-info-wrap{
          display: flex;
          flex-flow: column;
        }

            .main-content-info-wrap>div{
              padding-bottom: 30px;
            }  

    .main-content-new-section{
      width: 80%;
      
    }

        .main-content-new-wrap{
          left: 0;
        }

        

          .new-post-img{
            max-height: 600px;
            max-width: 70%;
            
          } 


.heading{
  text-align: center;
}

.works-section{
  padding-top: 100px;
  margin-bottom: 35px;
}

.main-wrap{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 120px;
}


/*--------Photos block  Illustrations block---------*/

.photos-section, .illustrations-section{
    height: 700px;
}
    .photos-wrap, .illustrations-wrap{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }

    .year-wrap{
      overflow: auto;
      max-height: 580px;
    }
    .year-wrap h2{
      padding-top: 10px;
    }

.block{
  width: 550px;
  padding-top: 20px;
}

/*---- Scrollbar ----*/

    /* width */
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    /* Track */
    .scrollbar::-webkit-scrollbar-track {
      border: 3px solid black;
    }
     
    /* Handle */
    .scrollbar::-webkit-scrollbar-thumb {
      border: 3px solid red;
    }




/*--------Device size max 670px ---------*/

@media(max-width:670px){

      .main-welcome-section{
        text-align: center;
      }

      .new-post-img{
        min-width: 100%;
      }

      .main-content-section{
        display: flex;
        flex-flow: column;
      }

      .main-content-section h3{
        text-align: center;
        
      }

      .main-content-new-section{
        width: 100%;
      }

      .main-content-info{
        width: 100%;
        margin: auto;
      }

      .main-content-info-wrap{
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 20px 5px 0 5px;
        text-align: center;
      }

      .main-content-info-wrap div{
        padding: 5px;
      }


.works-section{
  padding: 0;
  margin: 0;
  padding-top: 40px;
}

  .works-box{
          width: 200px;
          height: 200px;
        }

.works-container{
  display: none;
  visibility:hidden;
}

.photos-section, .illustrations-section{
    height: 700px;
}

.block{
  max-width: 100%;
  padding-top: 0;
  padding-bottom: 30px;
}

.year-wrap h2{
      padding-left: 10px;
    }

}
          
